.orders-table {
  font-size: 14px;
  padding-bottom: 5px;
  border: solid 1px var(--light-grey);
}

.orders-table > * {
  width: 100%;
}

.orders-table > *:first-child {
  display: flex;
  gap: 12px;
  align-items: flex-end;
  padding: var(--sp-md);
}

.orders-table table {
  border-collapse: collapse;
}

.orders-table tr {
  border: 1px solid var(--light-grey);
  border-width: 1px 0;
}

.orders-table th {
  font-size: var(--fs-sm);
  font-weight: var(--fw-md);
  text-align: left;
  color: var(--light-black);
}

.orders-table td,
.orders-table th {
  padding: 6px 16px;
}

/* all the checkboxes */
.orders-table tr > *:nth-child(1) {
  padding: 6px 0 6px var(--sp-md);
}
/* all the odd immediate children in tbody */
.orders-table tbody > *:nth-child(odd) {
  background-color: var(--pale-white);
}

.orders-table input[type='checkbox'] {
  accent-color: var(--pale-green);
}

/* gets the fullname column */
.orders-table__fullname {
  display: flex;
  align-items: center;
  gap: 8px;
}

.orders-table__badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 6px;
  border-radius: 100px;
  width: 81px;
  height: 32px;
  color: var(--green);
  background-color: var(--light-green);
}

.orders-table__details-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
